{% extends "frontend/layout.html" %}
{%block body%}
{% load static%}

<h1>HELLO</h1>

<div id ="audio-box">
    <audio controls>
        <source src= "{{data.location.url}}" type="audio/wav">
    </audio>
</div>

<div id ="audio-box-2">
    <audio controls>
        <source src= "{{data.location.url}}" type="audio/wav">
    </audio>
</div>

<div id ="form">
    <form action="" method=POST id="selectForm">{% csrf_token%}
        <select id="ids" name="audios"> 
        </select>
        <button button="sumbit" value="Sumbit" id="sumbitbutton"> sumbit </button>
        

    </form>
</div>


<link href="{% static 'frontend/testView.css' %}" rel="stylesheet" type="text/css" />
<script src="{%static 'frontend/jquery.js' %}" type="text/javascript"></script>
<script src="{%static 'frontend/main.js' %}" type="text/javascript"></script>
{% endblock %}